@import 'variables';

.media
{
    background-color: rgba(255, 255, 255, 0.04);
    padding: 15px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
}

.media-thumb, .panel-default
{
    padding: 0px;
    background-color: rgba(19, 18, 16, 0.7);
    border: 1px solid rgba(109, 95, 94, 0.4);
    border-radius: 0px;
}

.panel-default .panel-heading
{
    background-color: rgba(50, 50, 50, 0.5);
    color: #bababa;
    border-bottom: 1px solid rgba(109, 95, 94, 0.4);

}

.media-thumb .media-body
{
    padding: 15px;
}

.media .media-body
{
    color: #bababa !important;
}

.media-thumb img
{
    border-bottom: 1px solid rgba(109, 95, 94, 0.4);
}

.media .media-body
{
    color: #fff;
    position: relative;
}

.media .media-body .media-bottom-fixed
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding-right: 10px;
}

.media .media-left
{
    padding-right: 25px;
}

.media .media-left img
{
    border: 2px solid rgba(109, 95, 94, 0.2);
}